<script type="text/template" id="apptTemp">
<div id="temp">

<br>
<h3><b>New Appointments</b>

<button id="confirm" name="confirm" class="btn btn-primary" style="float: right; margin-left: 50px;"> Confirm 
<span class="glyphicon glyphicon-ok"></span></button>
 

<button id="refresh" name="refresh" class="btn btn-primary" style="float: right;"> Refresh 
<span class="glyphicon glyphicon-refresh"></span></button>
</h3>
<div>
  <table class="table table-striped table-hover" id="appointment1">	
	<thead>
		<th>Appointment ID</th>
		<th>Patient ID</th>
		<th>Patient Name</th>
		<th>Date</th>
		<th>Time</th>
		<th>Confirm/Reject</th>
	</thead>

	<tbody>

	</tbody>
  </table>
</div>
<br>
<br>
<br>
<br>

<h3><b>Confirmed Appointments</b></h3>
<div>
  <table class="table table-striped table-hover" id = "confirmed_appointmets">
	
	<thead>
		<th>Appointment ID</th>
		<th>Patient ID</th>
		<th>Patient Name</th>
		<th>Date</th>
		<th>Time</th>
	</thead>

	<tbody>
	</tbody>
  </table>
</div>
</div>
</script>