<script type="text/template" id="login-temp">
<center>
		<h1>E-Health Care Facilities</h1>
		<div class="outer">
		
			<h3>Employee Login</h3>
			<form name="login" >
					
				<span class="glyphicon glyphicon-user"></span>
				<input type="text" id="username" placeholder="Username" ><br>

				<br><span class="glyphicon glyphicon-lock"></span>
				<input type="password" id="password"  placeholder = "Password">
				
				<div id="warning"><b> Invalid Username / Password</b></div>
				<br> 
			</form>
			<br>
			<button name="login_but" id="loginbtn" class="btn btn-primary"> 
			<span class="glyphicon glyphicon-log-in"></span> Login</button>
			<button id = "regbtn" class="btn btn-primary" >Register</button>
				<br>
		</div>
		
		
	</center>
	
	</script>