<script type="text/template" id="navtemp">
<div id="temp">
<br>
<ul class="nav nav-tabs">

    <li class="active"><a href="#" id="homelink">Home</a></li>
    <li><a href="#" id="apptlink">Appointments</a></li>
    <li><a href="#"id="patientLink">Patient Records</a></li>
    <li><a href="#" id="updatelink">Edit Details</a></li>
  	
	<p id = "welcome">  </p>	
	<button id="logoutbtn" name="logout_but" class="btn btn-primary" style="float: right;"> 
			<span class="glyphicon glyphicon-log-out"></span> Logout</button>
</ul>
</div>
<br>

<div id="homeDiv"></div>

</script>