<script type="text/template" id="updatetemp">
<div id="temp">

<center>
<div>
<div style="float: center;" class="container col-md-4 ">
  <h2><center>Update Information</center></h2><br>
     
  <table class="table table-condensed table-bordered">


<tbody>    
      <tr>
        <td>Name</td>
        <td><input typr="text" id="update_name" value=""></td>
       </tr>
      <tr>
        <td>Address</td>
        <td><input type="text" id="update_address" value="" ></td>
       </tr>
	<tr>
        <td>Mobile No.</td>
        <td><input type="text" id="update_mobile" value="" ></td>
       </tr>
	<tr>
        <td>Gender</td>
        <td><select id = "update_gender">
				<option value="Male">Male</option>
				<option value="Female">Female</option>
				
				</select></td>
       </tr>
	<tr>
        <td>Date of Birth</td>
        <td><input type="date" id="update_dob"	value=""></td>
       </tr>

	<tr>
        <td>Email-Id</td>
        <td><input type="text" id="update_email" value="" ></td>
       </tr>
	<tr>
        <td>Hospital</td>
        <td><select id ="update_hospital">
				<option value="hospital1">Ruby Hall Clinic</option>
				<option value="hospital2">Aditya Birla Clinic</option>
				<option value="hospital3">Joshi Cardiac Center</option>
				<option value="hospital4">Vitalife Clinic</option>
				<option value="hospital5">Kedar Clinic</option>
				<option value="hospital6">Prudent Health Clinic</option>
				<option value="hospital7"></option>
				<option value="hospital8"></option>
				<option value="hospital9"></option>
				</select></td>
       </tr>
	<tr>
        <td>Speciality</td>
        <td><select id = "update_speciality">
				<option value="ENT">ENT</option>
				<option value="Cardiologist">Cardiologist</option>
				<option value="General Physician">General Physician</option>
				<option value="Orthopedic">Ortdopedist</option>
				<option value="Pediatrician">Pediatrician</option>
				</select></td>
       </tr>
	<!-- <tr>
        <td>Username</td>
        <td><input type="text" id="username" value="" ></td>
       </tr>

		<tr>
        <td>Password</td>
        <td><input type="password" id="password" value="" ></td>
       </tr>

	<tr>
        <td>Confirm Password</td>
        <td><input type="password" id="password2" value="" ></td>
       </tr>  -->

    </tbody>
  </table>
<center>
<button type="button" class="btn btn-primary" id="updateBtn">
<span class="glyphicon glyphicon-save"> Update</span></button>
</center>
<div id="updated"><b>Updated Successfully.<b></div>
<div id="warning"><b>Enter Valid details.<b></div>
</div>
</div>
	</center>

</div>	
	</script>